body {
  background-image: url(//images3.alphacoders.com/119/1198384.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: white;
  font-size: 3em;
  margin-bottom: 50px;
}

.boxes {
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.indiv {
  display: flex;
  gap: 150px;
  margin-bottom: 60px;
}

.imagebox,
.videobox,
.newsbox {
  height: 500px;
  width: 200px;
  font-size: 2em;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  font-size: 1.5em;
  height: 50px;
  width: 200px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagebox:hover {
  background-color: blue;
  transition: all ease 0.5s;
}

.videobox:hover {
  background-color: blue;
  transition: all ease 0.5s;
}

.newsbox:hover {
  background-color: blue;
  transition: all ease 0.5s;
}

.footer:hover {
  background-color: blue;
  transition: all ease 0.5s;
}
